/**
 * Classes built around theme colors (These MUST be defined, as they're used in Hugo theme templates)
 */

.text-theme-primary {
	@apply .text-rl-gray;
}

.bg-theme-primary {
	@apply .bg-rl-golden;
}

.bg-theme-gradient {
	background-image: linear-gradient(
		to bottom,
		config('colors.rl-golden'),
		config('colors.rl-golden-darker')
	);
}

.bg-theme-gradient-reverse {
	background-image: linear-gradient(
		to top,
		config('colors.rl-golden'),
		config('colors.rl-golden-darker')
	);
}

/**
 * Other site-specific styles
 */

.bg-green-gradient {
	background-image: linear-gradient(
		to left,
		config('colors.rl-green'),
		config('colors.rl-green-darker')
	);
}
