<div class="min-h-2xs relative bg-theme-gradient flex items-center md:pt-8 pb-12">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="absolute pin-b w-full h-12">
        <polygon fill="#eeeeee" points="0,100 100,0 100,100"/>
    </svg>
    <div class="ml-8 md:ml-24 lg:ml-32">
        <h1 class="text-white text-4xl">{{ .title }}</h1>
        <h2 class="mt-2 max-w-sm text-rl-gray text-lg leading-normal font-normal">{{ .subtitle }}</h2>
    </div>
</div>
